### Getting data from excel and inserting the data to postgres database tables
1. Install pandas, psycopg2, xlrd
2. import pandas, psycopg2
3. read,clean and store data from excel sheet using `pd.read_excel` into variables- `wealth1995`,`wealth2000`,`wealth2005`
4. define create_database function - Create a database `wealth`
5. create tables - `wealth1995`,`wealth2000`,`wealth2005`
6. insert values from dataframe to tables
7. close the connection and cursor after use

In [ ]:
import sys
print(sys.executable)

In [ ]:
! pip install pandas

In [14]:
! pip install xlrd

Collecting xlrd
  Using cached https://files.pythonhosted.org/packages/a6/0c/c2a72d51fe56e08a08acc85d13013558a2d793028ae7385448a6ccdfae64/xlrd-2.0.1-py2.py3-none-any.whl
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1
You are using pip version 10.0.1, however version 21.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [11]:
import psycopg2
import pandas as pd

In [44]:
wealth1995df = pd.read_excel('/total_and_per_capita_wealth_of_nations.xls',sheet_name = 1, skiprows=[0,1,2,3,4])
wealth1995=wealth1995df[['Economy','Code','Region','IncomeGr','Population','Total Wealth']]
wealth1995.head(10)

,Economy,Code,Region,IncomeGr,Population,Total Wealth
0,Afghanistan,AFG,South Asia,Low income,..,..
1,Albania,ALB,Europe & Central Asia,Lower middle income,..,..
2,Algeria,DZA,Middle East & North Africa,Upper middle income,28270780,1.01856e+12
3,American Samoa,ASM,East Asia & Pacific,Upper middle income,..,..
4,Andorra,ADO,..,High income: nonOECD,..,..
5,Angola,AGO,Sub-Saharan Africa,Lower middle income,..,..
6,Antigua and Barbuda,ATG,..,High income: nonOECD,..,..
7,Argentina,ARG,Latin America & Caribbean,Upper middle income,34834902,2.60972e+12
8,Armenia,ARM,Europe & Central Asia,Lower middle income,..,..
9,Aruba,ABW,..,High income: nonOECD,..,..

In [47]:
wealth2000_df = pd.read_excel('/total_and_per_capita_wealth_of_nations.xls',sheet_name = 2, skiprows=[0,1,2,3,4])
wealth2000 = wealth2000_df[['Economy','Code','Region','IncomeGr','Population','Total Wealth']]
wealth2000.head(10)

,Economy,Code,Region,IncomeGr,Population,Total Wealth
0,Afghanistan,AFG,South Asia,Low income,..,..
1,Albania,ALB,Europe & Central Asia,Lower middle income,3061775,1.05516e+11
2,Algeria,DZA,Middle East & North Africa,Upper middle income,30463134,1.04925e+12
3,American Samoa,ASM,East Asia & Pacific,Upper middle income,..,..
4,Andorra,ADO,..,High income: nonOECD,..,..
5,Angola,AGO,Sub-Saharan Africa,Lower middle income,..,..
6,Antigua and Barbuda,ATG,..,High income: nonOECD,..,..
7,Argentina,ARG,Latin America & Caribbean,Upper middle income,36895712,2.70713e+12
8,Armenia,ARM,Europe & Central Asia,Lower middle income,3082000,5.75637e+10
9,Aruba,ABW,..,High income: nonOECD,..,..

In [49]:
wealth2005_df = pd.read_excel('/total_and_per_capita_wealth_of_nations.xls',sheet_name = 3, skiprows=[0,1,2,3,4])
wealth2005 = wealth2005_df[['Economy','Code','Region','IncomeGr','Population','Total Wealth']]
wealth2005.head(10)

,Economy,Code,Region,IncomeGr,Population,Total Wealth
0,Afghanistan,AFG,South Asia,Low income,..,..
1,Albania,ALB,Europe & Central Asia,Lower middle income,3129678,1.66172e+11
2,Algeria,DZA,Middle East & North Africa,Upper middle income,32853798,9.93795e+11
3,American Samoa,ASM,East Asia & Pacific,Upper middle income,..,..
4,Andorra,ADO,..,High income: nonOECD,..,..
5,Angola,AGO,Sub-Saharan Africa,Lower middle income,15941392,2.2005e+11
6,Antigua and Barbuda,ATG,..,High income: nonOECD,..,..
7,Argentina,ARG,Latin America & Caribbean,Upper middle income,38747148,2.7608e+12
8,Armenia,ARM,Europe & Central Asia,Lower middle income,3016312,8.80471e+10
9,Aruba,ABW,..,High income: nonOECD,..,..

### Database Set Up function

In [91]:
def create_database():
    
    # creating a connection to default database
    conn = psycopg2.connect("host=127.0.0.1 dbname =postgres user= postgres password=")
    cur = conn.cursor()
    conn.set_session(autocommit=True)
    
    # create a new database
    cur.execute("DROP DATABASE IF EXISTS wealth")
    cur.execute("CREATE DATABASE wealth")
    
    #close connection to the base database
    cur.close()
    
    #connect to the new database
    conn = psycopg2.connect("host=127.0.0.1 dbname=wealth user=postgres password=")
    cur = conn.cursor()
    
    return cur, conn

In [102]:
cur,conn = create_database()

In [103]:
cur.execute("CREATE TABLE IF NOT EXISTS wealth1995 (Economy varchar,Code varchar,Region varchar,IncomeGr varchar, Population varchar, TotalWealth varchar); ")
conn.commit()

In [104]:
cur.execute("CREATE TABLE IF NOT EXISTS wealth2000 (Economy varchar,Code varchar,Region varchar,IncomeGr varchar, Population varchar, TotalWealth varchar); ")
conn.commit()

In [105]:
cur.execute("CREATE TABLE IF NOT EXISTS wealth2005 (Economy varchar,Code varchar,Region varchar,IncomeGr varchar, Population varchar, TotalWealth varchar); ")
conn.commit()

In [106]:
wealth1998_insert = ("""INSERT INTO wealth1995 (Economy,Code,Region,IncomeGr,Population,TotalWealth) VALUES (%s, %s, %s, %s, %s, %s)""")

In [107]:
for i,row in wealth1995.iterrows():
    cur.execute(wealth1998_insert,list(row))

In [108]:
conn.commit()

In [110]:
wealth2000_insert = ("""INSERT INTO wealth2000 (Economy,Code,Region,IncomeGr,Population,TotalWealth) VALUES (%s, %s, %s, %s, %s, %s)""")

In [111]:
for i,row in wealth2000.iterrows():
    cur.execute(wealth2000_insert,list(row))

In [112]:
conn.commit()

In [113]:
wealth2005_insert = ("""INSERT INTO wealth2005 (Economy,Code,Region,IncomeGr,Population,TotalWealth) VALUES (%s, %s, %s, %s, %s, %s)""")

In [114]:
for i,row in wealth2005.iterrows():
    cur.execute(wealth2005_insert,list(row))

In [115]:
conn.commit()

#### Close the connection and cursor

In [116]:
cur.close()
conn.close()

In [74]:
for i,row in wealth2005.iterrows():
    print(list(row))

['Afghanistan', 'AFG', 'South Asia', 'Low income', '..', '..']
['Albania', 'ALB', 'Europe & Central Asia', 'Lower middle income', 3129678, 166172033443.50156]
['Algeria', 'DZA', 'Middle East & North Africa', 'Upper middle income', 32853798, 993795028018.0851]
['American Samoa', 'ASM', 'East Asia & Pacific', 'Upper middle income', '..', '..']
['Andorra', 'ADO', '..', 'High income: nonOECD', '..', '..']
['Angola', 'AGO', 'Sub-Saharan Africa', 'Lower middle income', 15941392, 220050109661.36966]
['Antigua and Barbuda', 'ATG', '..', 'High income: nonOECD', '..', '..']
['Argentina', 'ARG', 'Latin America & Caribbean', 'Upper middle income', 38747148, 2760797768452.2114]
['Armenia', 'ARM', 'Europe & Central Asia', 'Lower middle income', 3016312, 88047142448.02538]
['Aruba', 'ABW', '..', 'High income: nonOECD', '..', '..']
['Australia', 'AUS', '..', 'High income: OECD', 20329000, 10546787512475.832]
['Austria', 'AUT', '..', 'High income: OECD', 8233299.99999999, 4698367590056.898]
['Azerbaijan', 'AZE', 'Europe & Central Asia', 'Lower middle income', 8388000, 128323288881.06007]
['Bahamas, The', 'BHS', '..', 'High income: nonOECD', '..', '..']
['Bahrain', 'BHR', '..', 'High income: nonOECD', 726617, 146660959278.92117]
['Bangladesh', 'BGD', 'South Asia', 'Low income', 141822276, 1008173202683.2058]
['Barbados', 'BRB', '..', 'High income: nonOECD', '..', '..']
['Belarus', 'BLR', 'Europe & Central Asia', 'Upper middle income', 9775591.4938548, 467159523743.13403]
['Belgium', 'BEL', '..', 'High income: OECD', 10478650, 5892809269415.125]
['Belize', 'BLZ', 'Latin America & Caribbean', 'Lower middle income', 291800, 18828867960.90048]
['Benin', 'BEN', 'Sub-Saharan Africa', 'Low income', 8438853, 80375305575.02757]
['Bermuda', 'BMU', '..', 'High income: nonOECD', '..', '..']
['Bhutan', 'BTN', 'South Asia', 'Lower middle income', 637013, 10461909257.249063]
['Bolivia', 'BOL', 'Latin America & Caribbean', 'Lower middle income', 9182015, 138356918965.40927]
['Bosnia and Herzegovina', 'BIH', 'Europe & Central Asia', 'Upper middle income', '..', '..']
['Botswana', 'BWA', 'Sub-Saharan Africa', 'Upper middle income', 1764926, 103946076297.97252]
['Brazil', 'BRA', 'Latin America & Caribbean', 'Upper middle income', 186404913, 14752395057893.373]
['Brunei Darussalam', 'BRN', '..', 'High income: nonOECD', 373819, 86828817621.75743]
['Bulgaria', 'BGR', 'Europe & Central Asia', 'Upper middle income', 7740000, 495305496841.7323]
['Burkina Faso', 'BFA', 'Sub-Saharan Africa', 'Low income', 13227835, 114561413330.91338]
['Burundi', 'BDI', 'Sub-Saharan Africa', 'Low income', 7547515, 16539393842.963657]
['Cambodia', 'KHM', 'East Asia & Pacific', 'Low income', '..', '..']
['Cameroon', 'CMR', 'Sub-Saharan Africa', 'Lower middle income', 16321863, 281358465855.1981]
['Canada', 'CAN', '..', 'High income: OECD', 32299000, 17399360845694.32]
['Cape Verde', 'CPV', 'Sub-Saharan Africa', 'Lower middle income', 506807, 20991074371.73183]
['Cayman Islands', 'CYM', '..', 'High income: nonOECD', '..', '..']
['Central African Republic', 'CAF', 'Sub-Saharan Africa', 'Low income', 4037747, 27076332319.95867]
['Chad', 'TCD', 'Sub-Saharan Africa', 'Low income', 9748931, 48683202990.47142]
['Channel Islands', 'CHI', '..', 'High income: nonOECD', '..', '..']
['Chile', 'CHL', 'Latin America & Caribbean', 'Upper middle income', 16295102, 1660491218542.4456]
['China', 'CHN', 'East Asia & Pacific', 'Lower middle income', 1304500000, 25091314516121.04]
['Colombia', 'COL', 'Latin America & Caribbean', 'Upper middle income', 44945790, 2453766526728.1343]
['Comoros', 'COM', 'Sub-Saharan Africa', 'Low income', 600489.541033855, 8724820928.006111]
['Congo, Dem. Rep.', 'ZAR', 'Sub-Saharan Africa', 'Low income', 57548744, 132008592213.93906]
['Congo, Rep.', 'COG', 'Sub-Saharan Africa', 'Lower middle income', 3998904, 24062132080.56717]
['Costa Rica', 'CRI', 'Latin America & Caribbean', 'Upper middle income', 4327228, 340139434721.42566]
["Côte d'Ivoire", 'CIV', 'Sub-Saharan Africa', 'Lower middle income', 18153867, 262566328179.756]
['Croatia', 'HRV', '..', 'High income: nonOECD', 4443350, 739802318909.7302]
['Cuba', 'CUB', 'Latin America & Caribbean', 'Upper middle income', '..', '..']
['Cyprus', 'CYP', '..', 'High income: nonOECD', '..', '..']
['Czech Republic', 'CZE', '..', 'High income: OECD', 10234092, 1850524225224.5674]
['Denmark', 'DNK', '..', 'High income: OECD', 5415978, 4023824642277.8047]
['Djibouti', 'DJI', 'Middle East & North Africa', 'Lower middle income', '..', '..']
['Dominica', 'DMA', 'Latin America & Caribbean', 'Upper middle income', 72000, 5478029871.966981]
['Dominican Republic', 'DOM', 'Latin America & Caribbean', 'Upper middle income', 9469601, 637816623287.2849]
['Ecuador', 'ECU', 'Latin America & Caribbean', 'Lower middle income', 13228422.9999999, 577206371418.9315]
['Egypt, Arab Rep.', 'EGY', 'Middle East & North Africa', 'Lower middle income', 74032883.9999999, 1578964218502.56]
['El Salvador', 'SLV', 'Latin America & Caribbean', 'Lower middle income', 6880951, 364324523817.7609]
['Equatorial Guinea', 'GNQ', '..', 'High income: nonOECD', '..', '..']
['Eritrea', 'ERI', 'Sub-Saharan Africa', 'Low income', '..', '..']
['Estonia', 'EST', '..', 'High income: nonOECD', '..', '..']
['Ethiopia', 'ETH', 'Sub-Saharan Africa', 'Low income', 71256000, 245057421984.9624]
['Faeroe Islands', 'FRO', '..', 'High income: nonOECD', '..', '..']
['Fiji', 'FJI', 'East Asia & Pacific', 'Upper middle income', 847706, 36454023489.22243]
['Finland', 'FIN', '..', 'High income: OECD', 5246100, 2991621746566.9995]
['France', 'FRA', '..', 'High income: OECD', 60873000, 35698823809773.75]
['French Polynesia', 'PYF', '..', 'High income: nonOECD', '..', '..']
['Gabon', 'GAB', 'Sub-Saharan Africa', 'Upper middle income', 1383841, 80959723978.29799]
['Gambia, The', 'GMB', 'Sub-Saharan Africa', 'Low income', 1517079, 8846007427.125483]
['Georgia', 'GEO', 'Europe & Central Asia', 'Lower middle income', 4474404, 119052690424.8177]
['Germany', 'DEU', '..', 'High income: OECD', 82469400, 45127355733470.6]
['Ghana', 'GHA', 'Sub-Saharan Africa', 'Low income', 22112805, 209527807172.336]
['Greece', 'GRC', '..', 'High income: OECD', 11104000, 4361821980990.121]
['Greenland', 'GRL', '..', 'High income: nonOECD', '..', '..']
['Grenada', 'GRD', 'Latin America & Caribbean', 'Upper middle income', 106500, 8310156161.87515]
['Guam', 'GUM', '..', 'High income: nonOECD', '..', '..']
['Guatemala', 'GTM', 'Latin America & Caribbean', 'Lower middle income', 12599059, 547849524286.6592]
['Guinea', 'GIN', 'Sub-Saharan Africa', 'Low income', 9002656, 56453018328.94433]
['Guinea-Bissau', 'GNB', 'Sub-Saharan Africa', 'Low income', 1586344, 5933085298.930554]
['Guyana', 'GUY', 'Latin America & Caribbean', 'Lower middle income', 751218, 14431223652.87426]
['Haiti', 'HTI', 'Latin America & Caribbean', 'Low income', 8527777, 89642313313.25801]
['Honduras', 'HND', 'Latin America & Caribbean', 'Lower middle income', 7204723, 182905654663.0774]
['Hong Kong, China', 'HKG', '..', 'High income: nonOECD', 6943600, 2506507645865.7773]
['Hungary', 'HUN', '..', 'High income: OECD', 10087050, 1745131698694.3872]
['Iceland', 'ISL', '..', 'High income: OECD', 296750, 267953389688.44006]
['India', 'IND', 'South Asia', 'Lower middle income', 1094583000, 11535972378055.867]
['Indonesia', 'IDN', 'East Asia & Pacific', 'Lower middle income', 220558000, 4360303578240.0254]
['Iran, Islamic Rep.', 'IRN', 'Middle East & North Africa', 'Lower middle income', 68251085.1124132, 2282126756704.578]
['Iraq', 'IRQ', 'Middle East & North Africa', 'Lower middle income', '..', '..']
['Ireland', 'IRL', '..', 'High income: OECD', 4159100, 2491780525624.7236]
['Isle of Man', 'IMY', '..', 'High income: nonOECD', '..', '..']
['Israel', 'ISR', '..', 'High income: nonOECD', 6923600, 2267277395822.1143]
['Italy', 'ITA', '..', 'High income: OECD', 58607050, 29202526480640.55]
['Jamaica', 'JAM', 'Latin America & Caribbean', 'Upper middle income', 2654500, 211731411939.2344]
['Japan', 'JPN', '..', 'High income: OECD', 127774000, 70116072725856.29]
['Jordan', 'JOR', 'Middle East & North Africa', 'Lower middle income', 5411500, 278441821517.96436]
['Kazakhstan', 'KAZ', 'Europe & Central Asia', 'Upper middle income', '..', '..']
['Kenya', 'KEN', 'Sub-Saharan Africa', 'Low income', 34255721.9999999, 365981482614.115]
['Kiribati', 'KIR', 'East Asia & Pacific', 'Lower middle income', '..', '..']
['Korea, Dem. Rep.', 'PRK', 'East Asia & Pacific', 'Low income', '..', '..']
['Korea, Rep.', 'KOR', '..', 'High income: OECD', 48294143, 11985649882197.684]
['Kuwait', 'KWT', '..', 'High income: nonOECD', 2535446.05575406, 827366200095.5883]
['Kyrgyz Republic', 'KGZ', 'Europe & Central Asia', 'Low income', 5143500, 54329217626.05749]
['Lao PDR', 'LAO', 'East Asia & Pacific', 'Low income', 5663910, 45695130285.000984]
['Latvia', 'LVA', 'Europe & Central Asia', 'Upper middle income', 2300500, 278991155707.23804]
['Lebanon', 'LBN', 'Middle East & North Africa', 'Upper middle income', '..', '..']
['Lesotho', 'LSO', 'Sub-Saharan Africa', 'Lower middle income', 1794769, 36659439366.681305]
['Liberia', 'LBR', 'Sub-Saharan Africa', 'Low income', 3283267, 11057450444.201086]
['Libya', 'LBY', 'Middle East & North Africa', 'Upper middle income', '..', '..']
['Liechtenstein', 'LIE', '..', 'High income: nonOECD', '..', '..']
['Lithuania', 'LTU', 'Europe & Central Asia', 'Upper middle income', 3414300, 453811045854.2048]
['Luxembourg', 'LUX', '..', 'High income: OECD', 456709.587191655, 419044604555.72656]
['Macao, China', 'MAC', '..', 'High income: nonOECD', 460162, 87406899394.49857]
['Macedonia, FYR', 'MKD', 'Europe & Central Asia', 'Upper middle income', 2034060, 117562867374.9589]
['Madagascar', 'MDG', 'Sub-Saharan Africa', 'Low income', 18605921, 64917750853.79872]
['Malawi', 'MWI', 'Sub-Saharan Africa', 'Low income', 12883935, 44716723708.991974]
['Malaysia', 'MYS', 'East Asia & Pacific', 'Upper middle income', 25347368, 1641668214854.3372]
['Maldives', 'MDV', 'South Asia', 'Lower middle income', 329198, 8747718633.823195]
['Mali', 'MLI', 'Sub-Saharan Africa', 'Low income', 13518416, 93496003636.85884]
['Malta', 'MLT', '..', 'High income: nonOECD', 403500, 104090006931.94034]
['Marshall Islands', 'MHL', 'East Asia & Pacific', 'Lower middle income', '..', '..']
['Mauritania', 'MRT', 'Sub-Saharan Africa', 'Low income', 3068742, 33756707531.10491]
['Mauritius', 'MUS', 'Sub-Saharan Africa', 'Upper middle income', 1243253, 104673481074.66803]
['Mayotte', 'MYT', 'Sub-Saharan Africa', 'Upper middle income', '..', '..']
['Mexico', 'MEX', 'Latin America & Caribbean', 'Upper middle income', 103089132.564478, 13544371024643.668]
['Micronesia, Fed. Sts.', 'FSM', 'East Asia & Pacific', 'Lower middle income', '..', '..']
['Moldova', 'MDA', 'Europe & Central Asia', 'Lower middle income', 3876661, 67537063080.00995]
['Monaco', 'MCO', '..', 'High income: nonOECD', '..', '..']
['Mongolia', 'MNG', 'East Asia & Pacific', 'Lower middle income', 2554000, 34174036528.670418]
['Montenegro', 'MNE', 'Europe & Central Asia', 'Upper middle income', '..', '..']
['Morocco', 'MAR', 'Middle East & North Africa', 'Lower middle income', 30142708.7983098, 954837898202.8337]
['Mozambique', 'MOZ', 'Sub-Saharan Africa', 'Low income', 19792295, 108390069168.39478]
['Myanmar', 'MMR', 'East Asia & Pacific', 'Low income', '..', '..']
['Namibia', 'NAM', 'Sub-Saharan Africa', 'Upper middle income', 2031252, 120974844625.02194]
['Nepal', 'NPL', 'South Asia', 'Low income', 27132629, 151520436419.24884]
['Netherlands', 'NLD', '..', 'High income: OECD', 16319850, 9686593051138.021]
['Netherlands Antilles', 'ANT', '..', 'High income: nonOECD', '..', '..']
['New Caledonia', 'NCL', '..', 'High income: nonOECD', '..', '..']
['New Zealand', 'NZL', '..', 'High income: OECD', 4098900, 1697405900544.1685]
['Nicaragua', 'NIC', 'Latin America & Caribbean', 'Lower middle income', 5149311, 100888513246.58815]
['Niger', 'NER', 'Sub-Saharan Africa', 'Low income', 13956977, 63248935415.63496]
['Nigeria', 'NGA', 'Sub-Saharan Africa', 'Lower middle income', 141356083, 1552377081865.619]
['Northern Mariana Islands', 'MNP', '..', 'High income: nonOECD', '..', '..']
['Norway', 'NOR', '..', 'High income: OECD', 4623300, 3984347618677.1406]
['Oman', 'OMN', '..', 'High income: nonOECD', 2566981, 378784913296.7983]
['Pakistan', 'PAK', 'South Asia', 'Lower middle income', 155772000, 1900180009494.2432]
['Palau', 'PLW', 'East Asia & Pacific', 'Upper middle income', '..', '..']
['Panama', 'PAN', 'Latin America & Caribbean', 'Upper middle income', 3231502, 243291157876.02222]
['Papua New Guinea', 'PNG', 'East Asia & Pacific', 'Lower middle income', 5887138, 52916846895.021545]
['Paraguay', 'PRY', 'Latin America & Caribbean', 'Lower middle income', '..', '..']
['Peru', 'PER', 'Latin America & Caribbean', 'Upper middle income', 27968244, 1256118316636.426]
['Philippines', 'PHL', 'East Asia & Pacific', 'Lower middle income', 83054478, 1636013736136.5332]
['Poland', 'POL', 'Europe & Central Asia', 'Upper middle income', 38165450, 5188234063611.189]
['Portugal', 'PRT', '..', 'High income: OECD', 10549450, 3226360571362.727]
['Puerto Rico', 'PRI', '..', 'High income: nonOECD', '..', '..']
['Qatar', 'QAT', '..', 'High income: nonOECD', '..', '..']
['Romania', 'ROM', 'Europe & Central Asia', 'Upper middle income', 21634350, 1750351938558.1338]
['Russian Federation', 'RUS', 'Europe & Central Asia', 'Upper middle income', 143113650, 10471058737753.547]
['Rwanda', 'RWA', 'Sub-Saharan Africa', 'Low income', 9037690, 48135649940.38556]
['Samoa', 'WSM', 'East Asia & Pacific', 'Lower middle income', '..', '..']
['San Marino', 'SMR', '..', 'High income: nonOECD', '..', '..']
['São Tomé and Principe', 'STP', 'Sub-Saharan Africa', 'Lower middle income', '..', '..']
['Saudi Arabia', 'SAU', '..', 'High income: nonOECD', 23118994, 3377808903534.2036]
['Senegal', 'SEN', 'Sub-Saharan Africa', 'Low income', 11658172, 159181949269.72888]
['Serbia', 'SRB', 'Europe & Central Asia', 'Upper middle income', '..', '..']
['Seychelles', 'SYC', 'Sub-Saharan Africa', 'Upper middle income', 84494.4248870718, 13837428939.965239]
['Sierra Leone', 'SLE', 'Sub-Saharan Africa', 'Low income', 5525477.99999999, 22241575367.978764]
['Singapore', 'SGP', '..', 'High income: nonOECD', 4341800, 1306773305052.3315]
['Slovak Republic', 'SVK', '..', 'High income: OECD', 5387000, 766962277491.5564]
['Slovenia', 'SVN', '..', 'High income: nonOECD', '..', '..']
['Solomon Islands', 'SLB', 'East Asia & Pacific', 'Lower middle income', '..', '..']
['Somalia', 'SOM', 'Sub-Saharan Africa', 'Low income', '..', '..']
['South Africa', 'ZAF', 'Sub-Saharan Africa', 'Upper middle income', 46888200, 4041714080516.6494]
['Spain', 'ESP', '..', 'High income: OECD', 43398150, 17723137087588.316]
['Sri Lanka', 'LKA', 'South Asia', 'Lower middle income', 19625383.5088184, 424686353837.1756]
['St. Kitts and Nevis', 'KNA', 'Latin America & Caribbean', 'Upper middle income', 48000, 6345291745.117651]
['St. Lucia', 'LCA', 'Latin America & Caribbean', 'Upper middle income', 164791, 15180815686.86404]
['St. Vincent and the Grenadines', 'VCT', 'Latin America & Caribbean', 'Upper middle income', 119051, 7089805069.401028]
['Sudan', 'SDN', 'Sub-Saharan Africa', 'Lower middle income', 36232945, 440164469907.69464]
['Suriname', 'SUR', 'Latin America & Caribbean', 'Upper middle income', '..', '..']
['Swaziland', 'SWZ', 'Sub-Saharan Africa', 'Lower middle income', 1131000, 45684405216.67246]
['Sweden', 'SWE', '..', 'High income: OECD', 9024040, 5666645454600.095]
['Switzerland', 'CHE', '..', 'High income: OECD', 7437100, 5479621800444.912]
['Syrian Arab Republic', 'SYR', 'Middle East & North Africa', 'Lower middle income', 19043381.9999999, 387898055140.68506]
['Tajikistan', 'TJK', 'Europe & Central Asia', 'Low income', 6550213, 43804414463.22899]
['Tanzania', 'TZA', 'Sub-Saharan Africa', 'Low income', '..', '..']
['Thailand', 'THA', 'East Asia & Pacific', 'Lower middle income', 64232758, 2425777667819.279]
['Timor-Leste', 'TMP', 'East Asia & Pacific', 'Lower middle income', '..', '..']
['Togo', 'TGO', 'Sub-Saharan Africa', 'Low income', 6145004, 40652635219.061935]
['Tonga', 'TON', 'East Asia & Pacific', 'Lower middle income', 102311, 5716681803.164851]
['Trinidad and Tobago', 'TTO', '..', 'High income: nonOECD', 1305236, 151562941356.02457]
['Tunisia', 'TUN', 'Middle East & North Africa', 'Lower middle income', 10029000, 475261031117.40295]
['Turkey', 'TUR', 'Europe & Central Asia', 'Upper middle income', 72065000, 8275217119422.086]
['Turkmenistan', 'TKM', 'Europe & Central Asia', 'Lower middle income', '..', '..']
['Uganda', 'UGA', 'Sub-Saharan Africa', 'Low income', 28816229, 171661844809.14914]
['Ukraine', 'UKR', 'Europe & Central Asia', 'Lower middle income', 47075295, 1380344363228.2815]
['United Arab Emirates', 'ARE', '..', 'High income: nonOECD', 4533144.84320328, 1585231628236.2761]
['United Kingdom', 'GBR', '..', 'High income: OECD', 60226500, 39907530891472.48]
['United States', 'USA', '..', 'High income: OECD', 296410404, 217623159381448.6]
['Uruguay', 'URY', 'Latin America & Caribbean', 'Upper middle income', 3305723, 286551829320.4171]
['Uzbekistan', 'UZB', 'Europe & Central Asia', 'Low income', 26167369, 139098618873.33755]
['Vanuatu', 'VUT', 'East Asia & Pacific', 'Lower middle income', 211367, 6108591211.896385]
['Venezuela, RB', 'VEN', 'Latin America & Caribbean', 'Upper middle income', 26577000, 1854953299964.047]
['Vietnam', 'VNM', 'East Asia & Pacific', 'Low income', 83104900, 779054906630.7504]
['Virgin Islands (U.S.)', 'VIR', '..', 'High income: nonOECD', '..', '..']
['West Bank and Gaza', 'WBG', 'Middle East & North Africa', 'Lower middle income', '..', '..']
['Yemen, Rep.', 'YEM', 'Middle East & North Africa', 'Low income', '..', '..']
['Zambia', 'ZMB', 'Sub-Saharan Africa', 'Low income', 11668457, 112926409671.68109]
['Zimbabwe', 'ZWE', 'Sub-Saharan Africa', 'Low income', 13009534, 64886597826.517845]
[nan, nan, nan, nan, nan, nan]
[nan, nan, nan, 'WEALTH IN THE YEAR: 2005', nan, '(billions of 2005usd)']
[nan, nan, nan, nan, nan, nan]
[nan, nan, nan, 'Aggregate values', 'Population', 'Total Wealth']
[nan, nan, nan, 'East Asia & Pacific', 1796063936, 36115.19793001495]
[nan, nan, nan, 'Europe & Central Asia', 408064333.49385476, 29684.40078133454]
[nan, nan, nan, 'Latin America & Caribbean', 531341502.56447786, 42079.261679865376]
[nan, nan, nan, 'Middle East & North Africa', 239764357.91072282, 6951.32480920411]
[nan, nan, nan, 'South Asia', 1439901499.5088184, 15039.742008380812]
[nan, nan, nan, 'Sub-Saharan Africa', 700684433.9659208, 9709.057328829047]
[nan, nan, nan, 'Low income', 715963411.5410337, 4670.356427185269]
[nan, nan, nan, 'Lower middle income', 3519642686.419542, 60228.0854912432]
[nan, nan, nan, 'Upper middle income', 880213965.4832199, 74680.54261920038]
[nan, nan, nan, 'High income: OECD', 953832016.5871916, 554581.2206979719]
[nan, nan, nan, 'High income: nonOECD', 58676249.89895734, 13566.101935395964]
[nan, nan, nan, 'World', 6128328329.929944, 707726.3071709963]
[nan, nan, nan, nan, nan, nan]
[nan, nan, nan, nan, nan, nan]
[nan, nan, nan, nan, nan, nan]
[nan, nan, nan, 'WEALTH IN THE YEAR: 2005', nan, '(2005usd)']
[nan, nan, nan, nan, nan, nan]
[nan, nan, nan, 'Per capita values', 'Population', 'Total Wealth']
[nan, nan, nan, 'East Asia & Pacific', 1796063936, 20107.96899048417]
[nan, nan, nan, 'Europe & Central Asia', 408064333.49385476, 72744.413919188]
[nan, nan, nan, 'Latin America & Caribbean', 531341502.56447786, 79194.3815357414]
[nan, nan, nan, 'Middle East & North Africa', 239764357.91072282, 28992.319249521075]
[nan, nan, nan, 'South Asia', 1439901499.5088184, 10444.979752789475]
[nan, nan, nan, 'Sub-Saharan Africa', 700684433.9659208, 13856.533495221425]
[nan, nan, nan, 'Low income', 715963411.5410337, 6523.177514243127]
[nan, nan, nan, 'Lower middle income', 3519642686.419542, 17111.988590100875]